<div>
    <h1>Tu perfil:</h1>
    <p>Nombre: {{first_name}}</p>
    <p>Apellido: {{last_name}}</p>
    <p>Email: {{email}}</p>
    <p>Edad: {{age}}</p>
    <p>Rol: {{role}}</p>
    <a href="/api/sessions/logout"><button>Desconectarse</button></a>
    <a href="http://localhost:8080"><button>Todos los productos</button></a>

<script src="/js/cart.js"></script>
</div>