<div>   
    <h1>Carrito:</h1>
    {{#each carritoandUser.carritofinal}}
    <div>
        <h4>{{this.product.title}} &nbsp; </h4>
        <p>Descripcion: {{this.product.description}} &nbsp; </p>
        <p>Precio: ${{this.product.price}} &nbsp; </p>
        <p>Categoria: {{this.product.category}} &nbsp; </p>
        <p>Cantidad: {{this.amount}}</p>
        <button onclick="botonRemoveFromCart('{{carritoandUser.user.idCart}}', '{{this._id}}')">Quitar del carrito</button>
        <hr>
    </div>
    <br/>
    {{/each}}
    <a href="http://localhost:8080"><button>Volver a los productos</button></a>
    <script src="/js/cart.js"></script>
</div>